registry=https://registry.npmjs.org/
@eslint:registry=https://registry.npmjs.org/
@radix-ui:registry=https://registry.npmjs.org/
@tanstack:registry=https://registry.npmjs.org/
@hookform:registry=https://registry.npmjs.org/
@tailwindcss:registry=https://registry.npmjs.org/
@lovable.dev:registry=https://registry.npmjs.org/
